@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&amp;display=swap");

@font-face {
    font-family: "Apfel Grotezk";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("ApfelGrotezk-Regular.otf");
}
