@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon4b29.eot?7t5i9j');
  src:  url('fonts/icomoon4b29.eot?7t5i9j#iefix') format('embedded-opentype'),
    url('fonts/icomoon4b29.ttf?7t5i9j') format('truetype'),
    url('fonts/icomoon4b29.woff?7t5i9j') format('woff'),
    url('fonts/icomoon4b29.svg?7t5i9j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gear:before {
  content: "\e913";
}
.icon-close:before {
  content: "\e914";
}
.icon-global-elip:before {
  content: "\e910";
}
.icon-stack .path1:before {
  content: "\e90b";
  color: rgb(0, 0, 0);
  opacity: 0.144;
}
.icon-stack .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.36;
}
.icon-stack .path3:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.576;
}
.icon-arrow-right-top:before {
  content: "\e900";
}
.icon-arrow-caret-left:before {
  content: "\e901";
}
.icon-arrow-caret-right:before {
  content: "\e902";
}
.icon-quote:before {
  content: "\e903";
}
.icon-user-circle:before {
  content: "\e904";
}
.icon-edu:before {
  content: "\e905";
}
.icon-arrow-top:before {
  content: "\e906";
}
.icon-send:before {
  content: "\e907";
}
.icon-tes:before {
  content: "\e908";
}
.icon-tech-stack:before {
  content: "\e909";
}
.icon-service:before {
  content: "\e90a";
}
.icon-high-light:before {
  content: "\e90d";
}
.icon-home:before {
  content: "\e90e";
}
.icon-light:before {
  content: "\e90f";
}
.icon-download:before {
  content: "\e911";
}
.icon-linkin:before {
  content: "\e915";
}
.icon-x:before {
  content: "\e916";
}
